
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: blanchedalmond;
}

.navbar {
    min-height: 60px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid chocolate;
}

.navbar-brand {
    padding:20px;
}

.navbar-brand h1 {
  color: chocolate;
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.cell-section {
  padding: 10px;
  height: 1000px;
  background-color: burlywood;
}

.section-title {
    font-weight: bold;
    font-size: 1.2em;
}

#our-menu {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 175%;
}

